<div class="navbar-wrap">
  <nav class="navbar">

    <a href="index.html" class="navbar-logo">
      <img src="../assets/images/logo.png" alt="Logo">
    </a>

    <div class="navbar-nav">
      <a href="index.html" class="nav-link">Home</a>

      <div class="nav-dropdown">        
        <a href="#" class="nav-link" id="servicesToggle" style="color:var(--blue);">Services <svg viewBox="0 0 24 24"><polyline points="6 9 12 15 18 9"/></svg></a>
      </div>

      <a href="locations.html" class="nav-link">Locations</a>
      <a href="insurance.html" class="nav-link">Insurance</a>
      <a href="about.html" class="nav-link">About Us</a>
    </div>

    <div class="navbar-actions">
      <a href="contact.html" class="btn btn-outline-red btn-nav">
        Contact Us
      </a>

      <a href="locations.html" class="btn btn-red btn-nav">
        Locations
      </a>
    </div>

  </nav>
</div>